* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 400px;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgba(11, 11, 119, 0.824);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.home-header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.site-2 {
    margin-left: 20px;
}

#recipe-nav a {
    color: black;
}

#recipe-nav a:hover {
    color: green;
}

#recipe-nav a:active {
    color: lightgreen;
}
.links-container {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.recipe-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-link img {
    width: 400px;
    height: 400px;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

#lists {
    display: inline-block;
    text-align: left;
}
